@font-face {
    font-family: Verdana;
    src: url(assets/font/verdana.ttf) format("opentype");
  }

html, body {
    background:#fff;
    display: flex;    
}

.leftblock{
    width: 190px;
    height: 100vh; /*под высоту экрана*/
    background: #FAFAFB;
    padding: 30px;
}

.logo {
    width: 137.75px;
    height: 40px;
    img {
        width: 100%;
    }
}

.header {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 2px solid #D9ECF5;
}

.search {
    width: 714px;
    margin-right: 30px;
}

.cart {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.cartIcon {
    padding: 6px;
}

.cartCounter {
    width: 28px;
    height: 28px;
    background: linear-gradient(90deg, #EF4136 0%, #92278F 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.login {
    display: flex;
    align-items: center;
    width: 216px;
}

.loginAvatar {
    width: 40px;
    height: 40px;
    background: url('assets/img/Ellipse1.png') no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    border-radius: 50%;
    margin-right: 10px;
}

.loginUserinfo {
    width: 133px;
}

.userName {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.userCompany {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 9px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #707173;
    margin: 3px 0;
}

.userBalans {
    background: linear-gradient(90deg, #EF4136 0%, #92278F 100%);
    border-radius: 2px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 9px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 10px;
}

.loginBtn {
    width: 3px;
    height: 15px;
    margin-left: 30px;
}


.containerSearch {
    align-items: center;
    border-bottom: 2px solid #EBF0F7;
    width: 851px;
    margin-left: 50px;
}

.containerSearchLine1 {
    height: 9px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 9px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #707173;
    margin-top: 20px;
    margin-bottom: 5px;
}
.containerSearchLine2 {
    width: 224px;
    height: 26px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 20px;
}

.container {
    margin-left: 50px;
    display: flex;
}

.containerLeft {
    height: 185px;
    width: 250px;
    background: url('assets/img/image 1.png') no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    margin-top: 15px;
}

.certificate {
    display: inline-block;
    margin: 5px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fff;
    background: #CABB9C;
    border-radius: 2px;
    padding: 5px 7px;
}

.containerRight {
    font-family: Verdana;
    margin: 15px;
}

.hotelRow1 {
    display: flex;
}

.stars {
    height: 12px;
    margin: 5px 10px 10px 0;
}

.hotelname {
    height: 16px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5DC5ED;
    margin: 8px 0 0 0;
    padding-bottom: 3px;
    border-bottom: 3px solid #5DC5ED;
}

.hotelRow2 {
    display: flex;
}

.hotelLocation {
    display: flex;
    align-items: center;
    height: 15px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #2D2B2C;
    img {
        margin-right: 7px;
    }
}

.hotelShowMap {
    height: 16px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5DC5ED;
    margin-left: 10px;
    margin-top: 2px;
}

.vertLine {
    width: 0px;
    height: 10px;
    border: 1px solid #EBF0F7;
    margin: 5px 20px 5px 20px;
}

.hotelRow3 {
    display: flex;
}

.centerDir {
    width: 97px;
    height: 15px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #2D2B2C;
    margin-top: 2px;
    margin-left: 19px;
}

.officeDir {
    width: 152px;
    height: 15px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #2D2B2C;
    margin-top: 2px;
}

.hotelRow4 {
    display: flex;
}

.vertLine2 {
    width: 0px;
    height: 10px;
    border: 1px solid #EBF0F7;
    margin: 5px 15px 7px 15px;
}

.telephone {
    display: flex;
    align-items: center;
    height: 15px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #2D2B2C;
    margin-top: 2px;
    img {
        margin-right: 5px;
    }
}

.foodAvaible {
    height: 15px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #38B984;
    margin-top: 1px;
}

.tripAdvisor {
    margin: 0 3px 0 0;
}

.owl {
    margin-right: 1px;
}

.tripRating {
    margin-top: 3px
}

.reviewsAll {
    height: 16px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5DC5ED;
    align-self: center;
    margin: 4px 0 5px 0;
    padding-bottom: 2px;
    border-bottom: 3px dashed #5DC5ED;
}

.hotelRow5 {
    display: flex;
    margin-bottom: 10px;
}

.serviceIcons {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.hotelRow6 {
    display: flex;
}

.hotelPrice {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    margin: 9px 0 0 0;
}

.hotelRow7 {
    display: flex;
}

.ndsHotel {
    height: 16px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #707173;
    margin: 7px 0 0 0;
}

.vertLine3 {
    width: 0px;
    height: 10px;
    border: 1px solid #EBF0F7;
    margin: 9px 10px 5px 10px;
}

.commissionHotel {
    height: 16px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #707173;
    margin: 7px 0 0 0;
}

.hotelBtn {
    display: flex;
    margin: 0 0 0 27px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    color: #A41558;
    padding: 17.5px 22px 17.5px 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(90deg, #EF4136 0%, #92278F 100%);
    border-image-slice: 1;
    img {
        margin-left: 11px;
        width: 9.41px;
        height: 6.13px;
    }
}

.secondaryMenuHotel {
    display: flex;
    top: 190px;
    left: 1156px;
    position: absolute;
}

/*
.containerEnd {
    align-items: center;
    border-bottom: 2px solid #EBF0F7;
    width: 851px;
    margin-left: 50px;
}*/